
<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
<label class = "py-1" for="last_name">First Name</label>
<input id="first_name" type="text" name="FirstName" value="{{.Student.FirstName}}" placeholder="First Name" class="focus:outline-none border rounded-md w-full p-2 border-sky-400 placeholder-gray-300">
{{ with (index .FormError "FirstName") }}
<p class = "text-red-500 py-1">{{.}}</p>
{{end}}


<label class = "py-1" for="last_name">Last Name</label>
<input id="last_name" type="text" name="LastName" value="{{.Student.LastName}}" placeholder="Last Name" class="focus:outline-none border rounded-md w-full p-2 border-sky-400 placeholder-gray-300">
{{ with (index .FormError "LastName") }}
<p class = "text-red-500 py-1">{{.}}</p>
{{end}}

<label class = "py-1" for="email">Email</label>
<input id="email" type="email" name="Email" value="{{.Student.Email}}" {{if .Student.ID}} readonly{{end}} placeholder="Email" class="focus:outline-none border rounded-md w-full p-2 border-sky-400 placeholder-gray-300">
{{ with (index .FormError "Email") }}
<p class = "text-red-500 py-1">{{.}}</p>
{{end}}

<label class = "py-1" for="username">Username</label>
    <input id="username" type="text" name="Username" value="{{.Student.Username}}" {{if .Student.ID}} readonly{{end}} placeholder="Username" class="focus:outline-none border rounded-md w-full p-2 border-sky-400 placeholder-gray-300">
    {{ with (index .FormError "Username") }}
    <p class = "text-red-500 py-1">{{.}}</p>
    {{end}}
    
{{if gt .Student.ID 0}}
    <label class = "py-1" for="status">Status</label>
    <br>
    <label for="active">
    <input id="status" type="radio" name="Status" value="true" {{if .Student.Status}} checked{{end}}>
    Active</label>
    <label for="active">
        <input id="status" type="radio" name="Status" value="false" {{if not .Student.Status}} checked{{end}}>
        Inactive</label>
    {{ with (index .FormError "Status") }}
    <p class = "text-red-500 py-1">{{.}}</p>
    {{end}}

{{end}}


{{if eq .Student.ID 0}}
    <label class = "py-1" for="password">Password</label>
    <input id="password" type="password" name="Password" value="" placeholder="Password" class="focus:outline-none border rounded-md w-full p-2 border-sky-400 placeholder-gray-300 placeholder-text-sm">
    {{ with (index .FormError "Password") }}
    <p class = "text-red-500 py-1">{{.}}</p>
    {{end}}
    
{{end}}